<form
  class="white"
  onsubmit={{action "setName" @rock}}
>
  {{input
    placeholder="Title"
    id="titleIn"
    type="text"
    value=title
  }}
  <br>
  <div class="fillwarn">
    <InputFill class="fillCheck" @text={{title}} data-test="input-fill"/>
  </div>

  {{input
    placeholder="First Name"
    id="firstName"
    type="text"
    value=firstName
  }}
  <br>
  <div class="fillwarn">
    <InputFill class="fillCheck" @text={{firstName}} data-test="input-fill"/>
  </div>

  {{input
    placeholder="Last Name"
    class="input"
    id="lastName"
    type="text"
    value=lastName
  }}
  <br>
  <div class="fillwarn">
    <InputFill class="fillCheck" @text={{lastName}} data-test="input-fill"/>
  </div>
  <br>
  <button
    class="dataButton"
    type="submit"
    data-test="setName"
  > Set Name
  </button>
</form>

{{yield}}
