<form
  class="white"
  onsubmit={{action "setName" @rock}}
>
  {{input
    placeholder="Title"
    id="titleIn"
    type="text"
    value=title
  }}
  <br>
  {{input
    placeholder="First Name"
    id="firstName"
    type="text"
    value=firstName
  }}
  <br>
  {{input
    placeholder="Last Name"
    class="input"
    id="lastName"
    type="text"
    value=lastName
  }}
  <br>

  <button
    class="dataButton"
    type="submit"
    data-test="setName"
  > Set Name
  </button>
</form>

{{yield}}
