<div id="rockContainer">
  <div id="rockCenter">
    <div id="rockSpace">
      <Rock-1/>
      <Eye-Ball-1/>
      <Pupil-1/>
      {{set-colors model.bColor model.rColor model.pColor}}
    </div>
  </div>
  <div id="rockName">
    {{model.name}}
  </div>
</div>

<div
  id="bottomBar"
  class="white"
> EDIT
  <div id="pickColor">
    <img
      class="createTitleText"
      src="/assets/svg/Color.svg"
      alt="Color"
    >
    <div class="pickContent">
      <div id="colorSquares">
        {{spectrum-color-picker color=model.bColor}}
        {{spectrum-color-picker color=model.rColor}}
        {{spectrum-color-picker color=model.pColor}}
      </div>
      <div id="colorText">
        <img src="/assets/svg/Background.svg" alt="Background" >
        <img src="/assets/svg/Body.svg" alt="Body" >
        <img src="/assets/svg/Pupils.svg" alt="Pupils" >
      </div>
    </div>
  </div>
  <div id="setName">
    <img class="createTitleText" src="/assets/svg/Name.svg" alt="Name">
    <Set-Name @rock={{model}}></Set-Name>
  </div>

  <div id="pickData">
    <SaveRock
      class="dataButton"
      @defaultText="Save"
      @workingText="Saving..."
      @onClick={{action "editRock" model}}
    />
    <SaveRock
      class="dataButton"
      @defaultText="Delete"
      @workingText = "Deleting..."
      @onClick={{action "deleteRock" model}}
    />
  </div>
</div>
{{outlet}}
